* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html, body{
  margin:  0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
}

.container {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: #000000;

  display: flex;
}

.free-shiping-wrapper,
 aside,
.logo-wrapper,
.cards-wrapper {
  display: flex;
}

.free-shiping-wrapper,
 aside,
.logo-wrapper{
  justify-content: center;
  align-items: center;
}

.main-content-wrapper {
  width: 100%;
}

.orders-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  
}

/* .orders-container > div {
  width: 50%;
  border: 1px solid red;
} */

.free-shiping-wrapper {
  height: 40px;
  background-color: #000000;
 
}

.free-shiping-wrapper p {
  color: #fff;
  font-size: 16px;
}

aside {
  width: 500px;
  height: 100%;
  background-color:#F2EDE9;
}

aside ul li {
  padding: 5px;
  font-weight: 700;
}

.logo-wrapper {
  margin-bottom: 20px;
}

.selected {
  border-bottom: 4px solid #e3dfdc;
  width: 100px;
}

.first-column-wrapper {
padding: 0 40px;
width: 25%;
}

.main-content-wrapper h2 {
  font-size: 40px;
  padding-left: 40px;
}

.orders-container .img-wrapper{
  background-color: #e3dfdc;
}

.img-wrapper img{
  height: 250px;
  width: 200px;
}

.info-wrapper span{
  display: block;
}

.main-content-wrapper{
  position: relative;
}

.orders-container,
.payment-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.orders-container {
  z-index: 1;
}

.payment-container{
  z-index: 99;
  background-color: #fff;

}

.cards-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  
  
}
.cards-wrapper > div {
  border: 1px solid red;
  width: 30%;
  margin: 0 40px 10px 0;
  
}

.cards img{
  width: 100%;
  height: auto;
}

.add-card img{
  height: 40px;
 }

 .add-card {
 background-color: #e3dfdc;
 
 }

 .title-wrapper h2 {
   margin-left: 80px;
 }
